.box{
    width: 600px;
    height: 600px;
    color: rgb(255, 255, 255);
    background-color:rgb(88, 90, 88);
    text-align: center;
    border: 5px dashed rgb(0,255,0);
    padding-top: 10px;
    margin: 50px 25px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-image: url('Screenshot\ 2023-12-16\ 150034.png')
}

.box:hover{
    background-color:rgb(118, 11, 82);
    background-image: url('Screenshot\ 2023-12-16\ 150024.png')
}
body{
    background-image: url('Screenshot 2023-12-16 150052.png')
}
